version: '3'
services:
  telegram-downloader:
    build:
      context: ./telegram-downloader
      dockerfile: ../Dockerfile
    image: telegram-downloader
    container_name: telegram-downloader
    volumes:
      - ./db:/db
      - ./data:/data
    #environment:
    #  - TELEGRAM_API_ID=
    #  - TELEGRAM_API_HASH=
    #  - BOT_TOKEN=
    #  - ADMINS=@username1 @username2
    #  - ALLOW_ROOT_FOLDER=False
    #  - DOWNLOAD_FOLDER=/data
    restart: "no"
    logging:
      driver: local
      options:
        max-size: 10m
        max-file: "3"
